/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }


.services {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    font-size: 100px;

    
  }
  */